[Unit]
Description=Dead Man's Shutdown
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /deadman.py
ExecStop=/bin/pkill deadman.py 

[Install]
WantedBy=multi-user.target
