[Unit]
Description=Dead Man's Shutdown
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /dead_mans_shutdown.py
ExecStop=/bin/pkill dead_mans_shutdown.py 

[Install]
WantedBy=multi-user.target
